---
import CarouselCard from "./CarouselCard.astro";

const {title} = Astro.props
---

<!-- IMPORTANT: Ensure that the images cover entire screen width for a smooth transition -->
<section class="bg-black text-white pt-8 pb-4">
  <h2 class="text-center text-4xl lg:text-3xl mb-2 font-medium leading-8">
    {title}
  </h2>

  <div
    class="logos group relative overflow-hidden whitespace-nowrap py-10 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]"
  >
    <div
      class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max"
    >
      <CarouselCard
        src="https://img.shields.io/badge/c-%2300599C.svg?style=for-the-badge&logo=c&logoColor=white"
        title="C"
      />
      <CarouselCard
        src="https://img.shields.io/badge/c++-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white"
        title="C++"
      />
      <CarouselCard
        src="https://img.shields.io/badge/CMake-%23008FBA.svg?style=for-the-badge&logo=cmake&logoColor=white"
        title="CMake"
      />
      <CarouselCard
        src="https://img.shields.io/badge/cuda-000000.svg?style=for-the-badge&logo=nVIDIA&logoColor=green"
        title="CUDA"
      />
      <CarouselCard
        src="https://img.shields.io/badge/riscv-%23283272.svg?style=for-the-badge&logo=riscv&logoColor=white"
        title="RISC-V"
      />
      <CarouselCard
        src="https://img.shields.io/badge/bash_script-%23121011.svg?style=for-the-badge&logo=gnu-bash&logoColor=white"
        title="Bash Script"
      />
      <CarouselCard
        src="https://img.shields.io/badge/ros-%230A0FF9.svg?style=for-the-badge&logo=ros&logoColor=white"
        title="ROS"
      />
      <CarouselCard
        src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54"
        title="Python"
      />
      <CarouselCard
        src="https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white"
        title="NumPy"
      />
      <CarouselCard
        src="https://img.shields.io/badge/PyTorch-%23EE4C2C.svg?style=for-the-badge&logo=PyTorch&logoColor=white"
        title="PyTorch"
      />
      <CarouselCard
        src="https://img.shields.io/badge/scikit--learn-%23F7931E.svg?style=for-the-badge&logo=scikit-learn&logoColor=white"
        title="scikit-learn"
      />
      <CarouselCard
        src="https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white"
        title="Pandas"
      />
      <CarouselCard
        src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white"
        title="HTML5"
      />
      <CarouselCard
        src="https://img.shields.io/badge/tailwindcss-%2338B2AC.svg?style=for-the-badge&logo=tailwind-css&logoColor=white"
        title="TailwindCSS"
      />
      <CarouselCard
        src="https://img.shields.io/badge/astro-%232C2052.svg?style=for-the-badge&logo=astro&logoColor=white"
        title="Astro"
      />
      <CarouselCard
        src="https://img.shields.io/badge/flask-%23000.svg?style=for-the-badge&logo=flask&logoColor=white"
        title="Flask"
      />
      <CarouselCard
        src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E"
        title="Javascript"
      />
      <CarouselCard
        src="https://img.shields.io/badge/typescript-%23007ACC.svg?style=for-the-badge&logo=typescript&logoColor=white"
        title="TypeScript"
      />
      <CarouselCard
        src="https://img.shields.io/badge/latex-%23008080.svg?style=for-the-badge&logo=latex&logoColor=white"
        title="LaTeX"
      />
      <CarouselCard
        src="https://img.shields.io/badge/markdown-%23000000.svg?style=for-the-badge&logo=markdown&logoColor=white"
        title="Markdown"
      />
      <CarouselCard
        src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white"
        title="Java"
      />
      <CarouselCard
        src="https://img.shields.io/badge/javafx-%23FF0000.svg?style=for-the-badge&logo=javafx&logoColor=white"
        title="JavaFX"
      />
      <CarouselCard
        src="https://img.shields.io/badge/apachemaven-C71A36.svg?style=for-the-badge&logo=apachemaven&logoColor=white"
        title="Maven"
      />
      <CarouselCard
        src="https://img.shields.io/badge/kotlin-%237F52FF.svg?style=for-the-badge&logo=kotlin&logoColor=white"
        title="Kotlin"
      />
    </div>

    <script>
      var badgeList = document.querySelector("div.animate-slide-left-infinite");
      var clone = badgeList?.cloneNode(true);
      badgeList?.after(clone);
    </script>
  </div>
</section>
