---

---

<div class="navbar bg-base-100 shadow-sm text-center py-10 lg:py-5">
  <div class="flex-1">
    <a class="lg:text-3xl text-5xl font-medium font-sans" href="/"
      >Mattia Massarenti</a
    >
  </div>
</div>
