---

---

<div class="avatar p-14 pl-40 flex place-items-center gap-15 bg-radial-[at_50%_75%] from-sky-200 via-blue-400 to-indigo-900 to-90%">
  <div class="mask mask-squircle w-65">
    <img src="/avatar.jpg" />
  </div>
  <h1 class="text-7xl lg:text-6xl font-bold text-white">Mattia Massarenti</h1>
</div>